  
  .chat-container {
    position: relative;
    overflow: hidden;
  }

  .chat-message {
    opacity: 0;
    border: 1px solid #FBFBFB;
    transform: translateY(10px);
    animation: fadeInUp 1s forwards;
  }
  
  .user {
    background-color: #FBFBFB;
    color: #000504;
  }
  
  .bot {
    background-color: unset;
    color: #727375;
  }
  
  .typing-indicator {
    display: flex; 
    height: 56px;
    gap: 14px;
    align-items: center;
    border-radius: 18px;
    background: #161717;
    border: unset;
    justify-content: center;
  }
  
  .typing-indicator span {
    width: 12px;
    height: 12px;
    background-color: #79E9AD;
    border-radius: 50%;
    animation: blink 1s infinite;
  }
  
  .typing-indicator span:nth-child(2) {
    animation-delay: 0.2s;
  }
  
  .typing-indicator span:nth-child(3) {
    animation-delay: 0.4s;
  }
  
  @keyframes blink {
    0%, 100% {
      opacity: 0.2;
    }
    50% {
      opacity: 1;
    }
  }
  
  .highlight {
    color: #79E9AD;
  }
  
  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .bot-enter {
    animation: fadeInUp 1s forwards;
  }
  
  .star {
    position: absolute;
    width: 2px;
    height: 2px;
    background-color: #79E9AD;
    border-radius: 50%;
    animation: moveStar 10s infinite;
    animation-play-state: paused;
  }
  
  @keyframes moveStar {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(var(--distance-x), var(--distance-y));
    }
  }



  @media (min-width: 390px) {
    .chat-container {
        width: 350px;
        height: 619px;
        padding: 0px;
        border-radius: 0px;
        border: unset;
        margin: 60px 0px;
      }

      .chat-message {
        padding: 20px 24px;
        border-radius: 20px;
        width: 242px;
      }

      .user {
        margin-bottom: 50px;
      }
      
      .bot {
        margin-bottom: 20px;
        margin-left: 58px;
      }

      .typing-indicator { 
        margin-bottom: 20px;
        margin-left: 234px;
        padding: 2px 26px;
        width: 64px;
    }
  }
  
  @media (min-width: 576px) {
    .chat-container {
        width: 528px;
        height: 497px;
        padding: 0px;
        border-radius: 0px;
        border: unset;
        margin: 60px 0px;
      }

      .chat-message {
        padding: 20px 24px;
        border-radius: 24px;
        width: 277px;
      }

      .user {
        margin-bottom: 50px;
      }
      
      .bot {
        margin-bottom: 20px;
        margin-left: 200px;
      }

      .typing-indicator { 
        margin-bottom: 20px;
        margin-left: 412px;
        padding: 2px 26px;
        width: 64px;
    }
  }
  
  @media (min-width: 768px) {
    .chat-container {
        width: 600px;
        height: 498px;
        padding: 100px 40px;
        border-radius: 40px;
        border: 1px solid #FFF;
        margin: 60px 0px;
      }

      .chat-message {
        padding: 20px 24px;
        border-radius: 24px;
        width: 332px;
      }

      .user {
        margin-bottom: 50px;
      }
      
      .bot {
        margin-bottom: 20px;
        margin-left: 220px;
      }

      .typing-indicator { 
        margin-bottom: 20px;
        margin-left: 484px;
        padding: 2px 26px;
        width: 64px;
    }
  }
  
  @media (min-width: 992px) {
    .chat-container {
        width: 600px;
        height: 498px;
        padding: 100px 135px;
        border-radius: 40px;
        margin: 60px 0px;
      }

      .chat-message {
        padding: 20px 24px;
        border-radius: 24px;
        width: 330px;
      }

      .user {
        margin-bottom: 50px;
      }
      
      .bot {
        margin-bottom: 20px;
        margin-left: 217px;
      }

      .typing-indicator { 
        margin-bottom: 20px;
        margin-left: 484px;
        padding: 2px 26px;
        width: 64px;
    }
  }
  
  @media (min-width: 1200px) {
    .chat-container {
        width: 600px;
        height: 498px;
        padding: 100px 240px;
        border-radius: 50px;
        margin: 60px 0px;
      }

      .chat-message {
        padding: 20px 24px;
        border-radius: 24px;
        width: 332px;
      }

      .user {
        margin-bottom: 50px;
      }
      
      .bot {
        margin-bottom: 20px;
        margin-left: 220px;
      }

      .typing-indicator { 
        margin-bottom: 20px;
        margin-left: 484px;
        padding: 2px 26px;
        width: 64px;
    }
  }
  
  @media (min-width: 1440px) {
    .chat-container {
        width: 696px;
        height: 499px;
        padding: 100px 312px;
        border-radius: 50px;
        margin: 80px 0px;
      }

      .chat-message {
        padding: 20px 24px;
        border-radius: 24px;
        width: 332px;
      }

      .user {
        margin-bottom: 50px;
      }
      
      .bot {
        margin-bottom: 20px;
        margin-left: 314px;
      }

      .typing-indicator { 
        margin-bottom: 20px;
        margin-left: 580px;
        padding: 2px 26px;
        width: 64px;
    }
  }
  
  @media (min-width: 1600px) {
    .chat-container {
        width: 600px;
        height: 499px;
        padding: 100px 390px;
        border-radius: 50px;
        margin: 80px 0px;
      }

      .chat-message {
        padding: 20px 24px;
        border-radius: 24px;
        width: 332px;
      }

      .user {
        margin-bottom: 50px;
      }
      
      .bot {
        margin-bottom: 20px;
        margin-left: 220px;
      }

      .typing-indicator { 
        margin-bottom: 20px;
        margin-left: 485px;
        padding: 2px 26px;
        width: 64px;
    }
  }
  
  @media (min-width: 1920px) {
    .chat-container {
        width: 796px;
        height: 499px;
        padding: 100px 312px;
        border-radius: 50px;
        margin: 80px 0px;
      }

      .chat-message {
        padding: 20px 24px;
        border-radius: 24px;
        width: 332px;
      }

      .user {
        margin-bottom: 50px;
      }
      
      .bot {
        margin-bottom: 20px;
        margin-left: 415px;
      }

      .typing-indicator { 
        margin-bottom: 20px;
        margin-left: 680px;
        padding: 2px 26px;
        width: 64px;
    }
  }
