

body {
    font-weight: 600;
    color: #FBFBFB;
    font-family: Manrope;
    cursor: none;
}

.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }
  
  .custom-cursor {
    width: 20px;
    height: 20px;
    background-color: #79E9AD;
    border-radius: 50%;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 999;
}

  ::selection {
    background-color: #FBFBFB;  
    color: #0A0B0B;            
  }
  
  ::-moz-selection {
    background-color: #FBFBFB;  
    color: #0A0B0B;          
  }

  .error-text {
    color: red;
    margin-left: 8px;
    margin-top: 3px;
    font-size: 14px;
}

  @media (min-width: 390px) {
    .container {
      max-width: 350px;
    }
  }
  
  @media (min-width: 576px) {
    .container {
      max-width: 508px;
    }
  }
  
  @media (min-width: 768px) {
    .container {
      max-width: 680px;
    }
  }
  
  @media (min-width: 992px) {
    .container {
      max-width: 872px;
    }
  }
  
  @media (min-width: 1200px) {
    .container {
      max-width: 1080px;
    }
  }
  
  @media (min-width: 1440px) {
    .container {
      max-width: 1320px;
    }
  }
  
  @media (min-width: 1600px) {
    .container {
      max-width: 1380px;
    }
  }
  
  @media (min-width: 1920px) {
    .container {
      max-width: 1420px;
    }
  }



  @media (min-width: 390px) {
    body {
        cursor: auto; 
      }
    h1 {
        font-size: 54px;
        line-height: 62px;
    }

    h2 {
        font-size: 36px;
        line-height: 42px;
    }

    h3 {
        font-size: 24px;
        line-height: 25px;
    }

    h4 {
        font-size: 18px;
        line-height: 22px;
    }

    h5 {
        font-size: 17px;
        line-height: 24px;
    }

    h6 {
        font-size: 16px;
        line-height: 24px;
    }

    p {
        font-size: 15px;
        line-height: 22px;
    }
  }

  @media (min-width: 576px) {
    h1 {
        font-size: 62px;
        line-height: 96px;
    }

    h2 {
        font-size: 44px;
        line-height: 48px;
    }

    h3 {
        font-size: 28px;
        line-height: 28px;
    }

    h4 {
        font-size: 20px;
        line-height: 24px;
    }

    h5 {
        font-size: 18px;
        line-height: 26px;
    }

    h6 {
        font-size: 14px;
        line-height: 20px;
    }

    p {
        font-size: 16px;
        line-height: 24px;
    }
  }

  @media (min-width: 768px) {
    h1 {
        font-size: 62px;
        line-height: 96px;
    }

    h2 {
        font-size: 44px;
        line-height: 48px;
    }

    h3 {
        font-size: 28px;
        line-height: 28px;
    }

    h4 {
        font-size: 20px;
        line-height: 24px;
    }

    h5 {
        font-size: 18px;
        line-height: 26px;
    }

    h6 {
        font-size: 16px;
        line-height: 24px;
    }

    p {
        font-size: 16px;
        line-height: 24px;
    }
  }

  @media (min-width: 992px) {
    h1 {
        font-size: 90px;
        line-height: 96px;
    }

    h2 {
        font-size: 48px;
        line-height: 56px;
    }

    h3 {
        font-size: 28px;
        line-height: 29px;
    }

    h4 {
        font-size: 20px;
        line-height: 24px;
    }

    h5 {
        font-size: 18px;
        line-height: 26px;
    }

    h6 {
        font-size: 16px;
        line-height: 24px;
    }

    p {
        font-size: 16px;
        line-height: 24px;
    }
  }

  @media (min-width: 1200px) {
    body {
        cursor: none; 
      }
    h1 {
        font-size: 90px;
        line-height: 96px;
    }

    h2 {
        font-size: 48px;
        line-height: 56px;
    }

    h3 {
        font-size: 28px;
        line-height: 29px;
    }

    h4 {
        font-size: 20px;
        line-height: 24px;
    }

    h5 {
        font-size: 18px;
        line-height: 26px;
    }

    h6 {
        font-size: 16px;
        line-height: 24px;
    }

    p {
        font-size: 16px;
        line-height: 24px;
    }
  }

  @media (min-width: 1440px) {
    h1 {
        font-size: 106px;
        line-height: 112px;
    }

    h2 {
        font-size: 52px;
        line-height: 60px;
    }

    h3 {
        font-size: 32px;
        line-height: 33px;
    }

    h4 {
        font-size: 24px;
        line-height: 33px;
    }

    h5 {
        font-size: 20px;
        line-height: 30px;
    }

    h6 {
        font-size: 16px;
        line-height: 24px;
    }

    p {
        font-size: 18px;
        line-height: 26px;
    }
  }

  @media (min-width: 1600px) {
    h1 {
        font-size: 106px;
        line-height: 112px;
    }

    h2 {
        font-size: 52px;
        line-height: 60px;
    }

    h3 {
        font-size: 32px;
        line-height: 33px;
    }

    h4 {
        font-size: 24px;
        line-height: 33px;
    }

    h5 {
        font-size: 20px;
        line-height: 30px;
    }

    h6 {
        font-size: 16px;
        line-height: 24px;
    }

    p {
        font-size: 18px;
        line-height: 26px;
    }
  }

  @media (min-width: 1920px) {
    h1 {
        font-size: 106px;
        line-height: 112px;
    }

    h2 {
        font-size: 52px;
        line-height: 60px;
    }

    h3 {
        font-size: 32px;
        line-height: 33px;
    }

    h4 {
        font-size: 24px;
        line-height: 33px;
    }

    h5 {
        font-size: 20px;
        line-height: 30px;
    }

    h6 {
        font-size: 16px;
        line-height: 24px;
    }

    p {
        font-size: 18px;
        line-height: 26px;
    }
  }

  











