.footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  
  .footer-section ul {
    display: flex;
    flex-direction: column;
  }
  
  .footer-section li {
    color: #727375;
    height: 24px;
  }
  
  .footer-section li a {
    color: #727375;
    text-decoration: none;
  }
  
  .footer-social {
    display: flex;
    justify-content: center;
    gap: 32px;
  }
  
  .footer-social a {
    color: #727375;
    text-decoration: none;
  }

  .social-icon {
    font-size: 25px;
  }

  .social-icon:hover {
    color: #FBFBFB;
  }
  
  .footer-copyright {
    color: #727375;
  }

  .footer-logo {
    width: 60px;
    margin-bottom: 16px;
  }
  
  

  @media (min-width: 390px) {
    .footer {
        height: 490px;
        margin-bottom: 80px;
        margin-top: 70px;
        align-content: space-between;
      }
      
      .contacts, .cases, .services {
        width: 203px;
      }
    
      .company {
        width: 127px;
      }
    
      .services, .cases {
        margin-bottom: 50px;
      }
    
      .T {
        font-size: 17px;
        font-weight: 700;
        line-height: 30px;
        letter-spacing: 0.68px;
        margin-bottom: 20px;
      }
      
      .footer-section ul {
        gap: 18px;
      }
      
      .footer-section li {
        font-size: 16px;
        font-weight: 600;
        line-height: 20px;
      }
      
      .footer-logo-section {
        margin-bottom: 70px;
        text-align: center;
      }

      .footer-social {
        margin-top: 24px;
      }
      
      .footer-copyright {
        font-size: 15px;
        font-weight: 600;
        line-height: 15px;
        margin-bottom: 24px;
      }
  }
  
  @media (min-width: 576px) {
    .footer {
        height: 324px;
        margin-bottom: 70px;
        margin-top: 70px;
        align-content: stretch;
      }
      
    .cases, .services {
        width: 279px;
      }
    
    .company, .contacts {
        width: 158px;
      }

      .cases {
        order: 2;
      }

      .services {
        order: 1;
      }

      .company {
        order: 3;
      }

      .contacts {
        order: 4;
       }
    
      .services, .company {
        margin-bottom: 50px;
      }

      .contacts, .cases {
        margin-bottom: 0px;
      }
    
      .T {
        font-size: 17px;
        font-weight: 700;
        line-height: 30px;
        letter-spacing: 0.68px;
        margin-bottom: 20px;
      }
      
      .footer-section ul {
        gap: 18px;
      }
      
      .footer-section li {
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
      }
      
      .footer-logo-section {
        margin-bottom: 70px;
        text-align: center;
      }
      
      .footer-social {
        gap: 32px;
        margin-top: 24px;
      }
      
      .footer-copyright {
        font-size: 15px;
        font-weight: 600;
        line-height: 15px;
        margin-bottom: 24px;
      }
  }
  
  @media (min-width: 768px) {
    .footer-large {
        display: flex;
        gap: 20px;
        height: 454px;
        margin-bottom: 70px;
        margin-top: 70px;
    }

    .footer-logo-section {
        margin-bottom: 0px;
        width: 250px;
        text-align: start;
    }

    .footer-logo {
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 24px;
    }

    .footer-copyright {
        font-size: 15px;
        font-weight: 600;
        line-height: 15px;
        margin-bottom: 0px;
      }

      .ul-social {
        display: flex;
        flex-direction: row;
        gap: 32px;
      }

    .footer {
        height: auto;
        margin-bottom: 0px;
        margin-top: 0px;
        align-content: stretch;
      }
      
    .contacts, .services, .social {
        width: 249px;
      }
    
    .company,  .cases {
        width: 141px;
      }

      .cases {
        order: 4;
      }

      .services {
        order: 1;
      }

      .company {
        order: 5;
      }

      .contacts {
        order: 2;
       }

       .social {
        order: 3;
       }

      .services, .contacts, .cases {
        margin-bottom: 50px;
        margin-right: 20px;
      }

      .company {
        margin-bottom: 0px;
      }
    
      .T {
        font-size: 17px;
        font-weight: 700;
        line-height: 30px;
        letter-spacing: 0.68px;
        margin-bottom: 20px;
      }
      
      .footer-section ul {
        gap: 18px;
      }
      
      .footer-section li {
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
      }
      
      .footer-social {
        gap: 32px;
        margin-top: 20px;
      }
  }
  
  @media (min-width: 992px) {
    .footer-large {
        display: flex;
        gap: 20px;
        height: 324px;
        margin-bottom: 70px;
        margin-top: 70px;
    }

    .footer-logo-section {
        margin-bottom: 0px;
        width: 220px;
        text-align: start;
    }

    .footer-logo {
        font-size: 44px;
        font-weight: 700;
        margin-bottom: 24px;
    }

    .footer-copyright {
        font-size: 15px;
        font-weight: 600;
        line-height: 15px;
        margin-bottom: 0px;
      }

      .ul-social {
        display: flex;
        flex-direction: row;
        gap: 32px;
      }

    .footer {
        height: 324px;
        margin-bottom: 0px;
        margin-top: 0px;
        align-content: stretch;
      }
      
    .contacts, .social {
        width: 209px;
      }
    
    .company,  .cases, .services {
        width: 192px;
      }

      .cases {
        order: 2;
      }

      .services {
        order: 1;
      }

      .company {
        order: 3;
      }

      .contacts {
        order: 5;
       }

       .social {
        order: 4;
       }

       .social, .cases {
        margin-bottom: 50px;
      }
      .services, .contacts, .cases {
        margin-right: 0px;
      }
      .services, .contacts, .company {
        margin-right: 20px;
      }
    
      .T {
        font-size: 17px;
        font-weight: 700;
        line-height: 30px;
        letter-spacing: 0.68px;
        margin-bottom: 20px;
      }
      
      .footer-section ul {
        gap: 18px;
      }
      
      .footer-section li {
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
      }
      
      .footer-social {
        gap: 32px;
        margin-top: 20px;
      }
  }
  
  @media (min-width: 1200px) {
    .footer-large {
        display: flex;
        gap: 20px;
        height: 324px;
        margin-bottom: 70px;
        margin-top: 70px;
    }

    .footer-logo-section {
        margin-bottom: 0px;
        width: 370px;
        text-align: start;
    }

    .footer-logo {
        font-size: 44px;
        font-weight: 700;
        margin-bottom: 40px;
    }

    .footer-copyright {
        font-size: 18px;
        font-weight: 600;
        line-height: 26px;
        margin-bottom: 0px;
      }

      .ul-social {
        display: flex;
        flex-direction: row;
        gap: 32px;
      }

    .footer {
        height: 324px;
        margin-bottom: 0px;
        margin-top: 0px;
        align-content: stretch;
      }
      
    .contacts, .social {
        width: 209px;
      }
    
    .company,  .cases, .services {
        width: 221px;
      }

      .cases {
        order: 2;
      }

      .services {
        order: 1;
      }

      .company {
        order: 3;
      }

      .contacts {
        order: 5;
       }

       .social {
        order: 4;
       }

       .social, .cases {
        margin-bottom: 50px;
      }

      .services, .contacts, .cases {
        margin-right: 0px;
      }

      .services, .contacts, .company {
        margin-right: 20px;
      }
    
      .T {
        font-size: 17px;
        font-weight: 700;
        line-height: 30px;
        letter-spacing: 0.68px;
        margin-bottom: 20px;
      }
      
      .footer-section ul {
        gap: 18px;
      }
      
      .footer-section li {
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
      }
      
      .footer-social {
        gap: 32px;
        margin-top: 20px;
      }
  }
  
  @media (min-width: 1440px) {
    .footer-large {
        display: flex;
        gap: 20px;
        height: 324px;
        margin-bottom: 100px;
        margin-top: 100px;
    }

    .footer-logo-section {
        margin-bottom: 0px;
        width: 400px;
        text-align: start;
    }

    .footer-logo {
        font-size: 44px;
        font-weight: 700;
        margin-bottom: 40px;
    }

    .footer-copyright {
        font-size: 18px;
        font-weight: 600;
        line-height: 26px;
        margin-bottom: 0px;
      }

      .ul-social {
        display: flex;
        flex-direction: row;
        gap: 32px;
      }

    .footer {
        height: 324px;
        margin-bottom: 0px;
        margin-top: 0px;
        align-content: stretch;
      }
      
    .contacts, .social {
        width: 209px;
      }
    
    .company,  .cases, .services {
        width: 326px;
      }

  }
  
  @media (min-width: 1600px) {
    .footer-large {
        display: flex;
        gap: 20px;
        height: 324px;
        margin-bottom: 100px;
        margin-top: 100px;
    }

    .footer-logo-section {
        margin-bottom: 0px;
        width: 500px;
        text-align: start;
    }

    .footer-logo {
        margin-bottom: 40px;
    }
      
    .contacts, .social {
        width: 209px;
      }
    
    .company,  .cases, .services {
        width: 306px;
      }
  }
  
  @media (min-width: 1920px) {
    .footer-large {
        display: flex;
        gap: 20px;
        height: 324px;
        margin-bottom: 100px;
        margin-top: 100px;
    }

    .footer-logo-section {
        margin-bottom: 0px;
        width: 500px;
        text-align: start;
    }

    .footer-logo {
        margin-bottom: 40px;
    }
      
    .contacts, .social {
        width: 209px;
      }
    
    .company,  .cases, .services {
        width: 326px;
      }
  }